*.iml
*.jks
*.keystore
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/
/captures/
.externalNativeBuild
.cxx
local.properties

#PUBLIC PUSH CONFIGURATION
/gradle/
app/src/main/java/com/maverickapps/nutripet/petsFeature/utils/CaloriesCalculator.kt
app/src/main/java/com/maverickapps/nutripet/petsFeature/utils/loopListHandler
app/src/main/java/com/maverickapps/nutripet/core/data/services/
app/src/main/java/com/maverickapps/nutripet/core/data/local/
app/src/main/java/com/maverickapps/nutripet/core/domain/remoteResultModel